<nav>
    <div>
        <a href="/" id="nav-brand">
            <img src="/favicon.ico" alt="logo" width="32" height="32" />
            CSP Blogs
        </a>
        <div>
            <a href="/blogs">Blogs</a>
            <a href="https://portfolio-seven-iota-23.vercel.app/">About</a>
            <button id="theme-toggle">🌙 Dark</button>
        </div>
    </div>
</nav>