@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: rgb(243, 244, 246);
    /* --bg-body: rgb(229, 231, 235); */
}

.dark {
    --bg-body: rgb(17, 24, 39);
}

body {
    background: var(--bg-body);
}
